{% extends 'base.html' %}

{% block title %}
    <title>The history of our store</title>
{% endblock %}


{% block body %}
    <div class="container">
        <h1>The history of our store</h1>
        <p>Initially, the Internet was used by groups of scientists, then it was used to transmit information in military plans, a little later it was the turn of businessmen. And since the 90s, the network has turned from secret to public. The transfer of information was fast, the network became more and more public. The history of the online store and its evolution are quite interesting. We suggest you learn about this from our article.</p>
    </div>
{% endblock %}



