{% extends 'base.html' %}

{% block title %}
    <title>Про NewPaper</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Про NewPaper</h1>
        <p>First, we buy some food in a big supermarket. There are lots of departments and sections: fruit and vegetables, bakery, diary, meat and fish, and of course sweets. My parents buy all products for a week to cook and eat at home. We always buy something tasty for tea. I take chocolate candies, my brother takes bananas, and my parents get cakes with berries.</p>
        </div>
{% endblock %}